## "과제" 네이버 상영작/예정작 크롤링

In [44]:
import requests
from bs4 import BeautifulSoup

In [230]:
# url = 'https://movie.naver.com/movie/running/current.naver'

In [229]:
def url_parser(url):
    import requests
    from bs4 import BeautifulSoup
    response = requests.get(url)
    html = response.text
    soup = BeautifulSoup(html, 'html.parser')
    return soup

In [251]:
def start_end_movie_ranking(start,end):
    current_movie = []
    soup = url_parser('https://movie.naver.com/movie/running/current.naver')
    for ind in tqdm(range(start,end)):
        
        movie_title = soup.select_one(f'#content > div.article > div > div.lst_wrap > ul > li:nth-child({ind}) > dl > dt > a').text
        
        # 개봉날짜
        a = soup.select('#content > div.article > div > div.lst_wrap > ul > li:nth-child(10) > dl > dd:nth-child(3) > dl > dd:nth-child(2)')[0].text
        movie_d_day = a[a.find('개')-11:a.find('개')-1]

        # 별점
        rating_viewer = soup.select_one(f'#content > div.article > div > div.lst_wrap > ul > li:nth-child({ind}) > dl > dd.star > dl > dd:nth-child(2) > div > a > span.num').text

        # 관객 수
        count_viewer = soup.select_one(f'#content > div.article > div > div.lst_wrap > ul > li:nth-child({ind}) > dl > dd.star > dl > dd:nth-child(2) > div > a > span.num2 > em').text

        #영화 감독
        director = soup.select(f'#content > div.article > div > div.lst_wrap > ul > li:nth-child({ind}) > dl > dd:nth-child(3) > dl > dd:nth-child(4) > span > a')
        if len(director) == 1:
            d = soup.select(f'#content > div.article > div > div.lst_wrap > ul > li:nth-child({ind}) > dl > dd:nth-child(3) > dl > dd:nth-child(4) > span > a')[0].text
        else:
            for i in range(len(director)):
                d = []
                d.append(soup.select(f'#content > div.article > div > div.lst_wrap > ul > li:nth-child({ind}) > dl > dd:nth-child(3) > dl > dd:nth-child(4) > span > a')[i].text)
                
        # 영화 배우
        actor = soup.select(f'#content > div.article > div > div.lst_wrap > ul > li:nth-child({ind}) > dl > dd:nth-child(3) > dl > dd:nth-child(6) > span > a')
        if len(actor) == 1:
            b = soup.select(f'#content > div.article > div > div.lst_wrap > ul > li:nth-child({ind}) > dl > dd:nth-child(3) > dl > dd:nth-child(6) > span > a')[0].text
        else:
            b = []
            for i in range(len(actor)):
                b.append(soup.select(f'#content > div.article > div > div.lst_wrap > ul > li:nth-child({ind}) > dl > dd:nth-child(3) > dl > dd:nth-child(6) > span > a')[i].text)
        
        #평론가
        try:
            rating_critic = soup.select_one(f'#content > div.article > div > div.lst_wrap > ul > li:nth-child({ind}) > dl > dd.star > dl > dd:nth-child(4) > div > a > span.num').text
            rating_critic_num = soup.select_one(f'#content > div.article > div > div.lst_wrap > ul > li:nth-child({ind}) > dl > dd.star > dl > dd:nth-child(4) > div > a > span.num2 > em').text
        except:
            rating_critic = '0'
            rating_critic_num = '0'
        current_movie.append([movie_title,movie_d_day,rating_viewer,count_viewer,d,b,rating_critic,rating_critic_num])
    
    return current_movie

In [249]:
def save_csv(data,filename):
    import csv

    with open(f'data/{filename}.csv', 'w') as csvfile:
        spamwriter = csv.writer(csvfile)
        spamwriter.writerow(['영화제목','개봉일','별점','관객수','감독','배우','비평가_평점','비평가수'])
        for idx in range(len(data)):
            spamwriter.writerow([data[idx][0],
                                 data[idx][1],
                                 data[idx][2],
                                 data[idx][3],
                                 data[idx][4],
                                 data[idx][5],
                                 data[idx][6],
                                 data[idx][7]])
    return print(f'{filename}.csv 파일로 저장 완료했습니다!')

## 영화랭킹의 5개 날짜 페이지 파싱한 결과 csv 저장

In [252]:
import requests
from bs4 import BeautifulSoup
url = 'https://movie.naver.com/movie/running/current.naver'
response = requests.get(url)
html = response.text
soup = BeautifulSoup(html, 'html.parser')

In [258]:
soup.select_one('#content > div.article > div > div.lst_wrap > ul > li:nth-child(1) > dl > dt > a').text

'올빼미'

In [257]:
soup.select_one('#content > div.article > div > div.lst_wrap > ul > li:nth-child(2) > dl > dt > a').text

'스트레인지 월드'

In [264]:
for ind in range(1,100):
    print(soup.select_one(f'#content > div.article > div > div.lst_wrap > ul > li:nth-child({ind}) > dl > dd.star > dl > dd:nth-child(2) > div > a > span.num').text)

9.35
9.52
9.50
9.33
9.20
9.00
10.00
0.00
7.15
7.63
8.00
7.65
6.40
8.10
6.28
8.44
8.69
7.98
8.31
7.33
5.33
7.13
8.52
6.96
8.45
8.84
6.33
8.45
8.20
7.00
7.48
9.49
6.97
5.33
7.75
8.77
8.38
8.45
7.87
7.30
7.81
8.52
7.07
8.19
8.84
9.19
8.13
5.00
7.60
7.91
8.23
6.46
8.10
6.23
7.64
8.73
6.43
8.59
7.97
7.16
9.30
9.22
6.00
8.14
8.40
8.31
9.15
8.45
9.42
7.75
8.58
9.44
8.02
7.56
8.81
8.30
8.68
9.76
8.45
8.96
6.36
7.64
7.67
9.35
9.24
6.20
7.53
9.38
8.80
8.00
7.23
8.59
8.31
8.81
7.97
9.13
8.08
8.63
9.05

In [263]:
soup.select_one('#content > div.article > div > div.lst_wrap > ul > li:nth-child(1) > dl > dd.star > dl > dd:nth-child(2) > div > a > span.num').text

'9.35'

In [ ]:
soup.select_one('#content > div.article > div > div.lst_wrap > ul > li:nth-child(2) > dl > dd.star > dl > dd > div > a > span.num').text

In [266]:
import pandas as pd
a = pd.read_csv('data/movie_ranking.csv')

In [267]:
a['영화제목'][0] =

,영화제목,개봉일,별점,관객수,감독,배우,비평가_평점,비평가수
0,올빼미,2022.11.17,9.38,101,안태진,"['류준열', '유해진']",6.50,4
1,스트레인지 월드,2022.11.17,10.00,5,['퀴 응우옌'],"['제이크 질렌할', '루시 리우', '데니스 퀘이드', '가브리엘 유니온']",0.00,0
2,아마겟돈 타임,2022.11.17,9.60,10,제임스 그레이,"['앤 해서웨이', '제레미 스트롱', '뱅크스 레페타', '제일린 웹', '안소니...",7.67,6
3,유포자들,2022.11.17,8.40,5,홍석구,"['박성훈', '김소은', '송진우', '박주희', '임나영']",4.00,1
4,놈이 우리 안에 있다,2022.11.17,10.00,1,조쉬 루벤,"['샘 리차드슨', '밀라나 바인트루브', '조지 바실', '사라 번즈', '마이클...",0.00,0
...,...,...,...,...,...,...,...,...
135,금지된 장난,2022.11.17,8.88,113,르네 클레망,"['조르주 푸줄리', '브리지트 포시']",0.00,0
136,라붐 2,2022.11.17,8.65,103,클로드 피노토,"['소피 마르소', '브리지트 포시', '클로드 브라소']",0.00,0
137,초대받은 사람들,2022.11.17,7.00,3,최하원,"['이영하', '원미경', '박암', '남성훈']",0.00,0
138,룻 이야기,2022.11.17,10.00,2,헨리 코스터,"['스튜어트 휘트먼', '톰 트라이언', '페기 우드', '비브카 린드포스']",0.00,0
139,가스등,2022.11.17,8.59,64,조지 큐커,"['샤를르 보와이에', '잉그리드 버그만', '조셉 거튼']",0.00,0