<font color = "#CC3D3D"><b>
# Data Structures 
- List
- Tuple
- Dictionary
- Set

##### A collection(list, tuple, dictionary, set) allows us to put many values in a single "variable"
<p>
# collection의 공통점 : 값을 여러 개 가질 수 있다.

# 리스트(list)

- 리스트는 값을 *순서대로 저장하는 자료구조다.
- 리스트를 사용하여 벡터나 행렬을 표현할 수 있다.

In [15]:
[2, 3, 1]

[2, 3, 1]

### 생성하기

리스트는 값들을 대괄호([])로 감싸서 만든다.

In [17]:
x = [1, 2, 3]
x

[1, 2, 3]

In [18]:
# 처음 시작할 때 빈 리스트로 시작할 수 있다.
y = []  # 빈 리스트
# y
x = list()
x

[]

`list()` 함수는 다른 값을 리스트 형태로 변환한다. 예를 들어 문자열을 `list()` 함수에 넣으면 문자열이 글자들의 리스트로 바뀐다.

list('abc') # 함수 호출, 각각의 원소가 리스트에 따로 변환된다.
[1,2,3,4,"a",False,[1,2,3,]]

비어 있는 리스트는 `변수명 = list()` 형태로 생성할 수도 있다.

In [2]:
a = list('abcd')
a

['a', 'b', 'c', 'd']

In [20]:
y = list()  # 빈 리스트
y

[]

### 원소갯수 확인

리스트 안에 몇 개의 값이 들어있는지 확인하고 싶을때는 `len()` 함수를 사용한다.

In [3]:
len(a)

4

### 인덱싱

리스트 안에 있는 값을 선택하고 싶을 때는 인덱싱(indexing)을 사용한다. 인덱스는 0부터 시작한다.

In [24]:
# 필요한 것만 뽑아 쓸 수 있도록 순서대로 리스트에 저장된다.
x = ['a', 'b', 'c', 'd', 'e']

In [25]:
# R과 달리 첫번째 원소가 0부터 시작한다. R은 1부터 시작.
x[0]  # x의 첫번째 값

'a'

In [26]:
x[1]  # x의 두번째 값

'b'

뒤에서부터 셀 때는 마이너스 인덱스를 사용한다. -1은 뒤에서 첫번째라는 뜻이다.

In [27]:
x[-1]  # x의 뒤에서 첫번째 값 마이너스(-)값 표기 0이 아닌 이유 : 수에서 -0이 존재하지 않기 때문

'e'

In [28]:
x[-0] # 추측하면, -0 값을 0으로 인식했을 것 같다.

'a'

### 슬라이싱

- 리스트에서 일정 범위의 값을 선택할 때는 슬라이싱(slicing)을 사용한다. 
- 슬라이싱은 **`시작 인덱스:끝 인덱스`** 형식을 사용하는데, (중요!)시작 인덱스의 값은 포함하지만 끝 인덱스의 값은 포함하지 않는다.

In [31]:
x[0:3]  # 0번부터 2번까지 (3번은 포함하지 않는다)

['a', 'b', 'c']

끝 인덱스를 생략하면 시작 인덱스부터 끝까지 범위를 가리킨다.

In [32]:
x[3:]  # 3번부터 끝까지 선택

['d', 'e']

시작 인덱스를 생략하면 처음부터 끝 인덱스 전까지 범위를 가리킨다.

In [34]:
x[:3]  # 처음부터 2번까지

['a', 'b', 'c']

In [24]:
x[:] # 리스트 전체 표시 x[:] = x

['a', 'b', 'c', 'd', 'e']

 **`시작 인덱스:끝 인덱스:간격`** 의 형식으로 간격을 표시할 수도 있다. #STEP

In [25]:
x[::2]  # 처음부터 끝까지 2간격으로 선택

['a', 'c', 'e']

In [26]:
x[1:4:2]  # 1번 값부터 4번 값 사이에서, 2간격으로 선택

['b', 'd']

간격에 음수를 사용하면 결과가 역순이 된다.

In [29]:
x[::-1]  # 리스트의 순서 뒤집기 (이런 표현 많이 씀, 함수 안 쓸 때 쓴다.)

['e', 'd', 'c', 'b', 'a']

In [9]:
a = [1,2,7]
#mean(a) 평균 값을 계산, 파이썬에서 기본으로 제공하는 함수 아님.
sum(a) / len(a)

3.3333333333333335

In [39]:
sum(a) # 총합
len(a) # 총 갯수

3

In [5]:
import numpy as np # numpy는 행렬, 수학 관련된 패키지

In [40]:
np.mean(a) # jupyter notebook을 다시 키면 관련된 패키지 부터 설치하기!

3.3333333333333335

In [41]:
x = np.array(a)
x.mean()

3.3333333333333335

In [11]:
np.array(a)

array([1, 2, 7])

### 관련 메소드와 연산자

`.append()` 메소드는 값을 리스트에 추가한다.

# append는 리스트에만 값이 추가된다.
# 메소드와 함수의 차이

In [42]:
x = ['a', 'b', 'c', 'd', 'e']

In [43]:
x.append('f')  # x에 f를 추가 x
x

['a', 'b', 'c', 'd', 'e', 'f']

`.pop()` 메소드는 하나의 값을 제거한다.

In [44]:
x.pop()  # 마지막 값을 제거 [pop() 괄호 안에 아무것도 없으면 마지막 값 제거]
x

['a', 'b', 'c', 'd', 'e']

In [45]:
x.pop(0) # 첫번째 값을 제거
x

['b', 'c', 'd', 'e']

`del` 연산자와 슬라이싱과 인덱싱을 사용해 값을 제거할 수 있다.

In [46]:
del x[-1]  # 마지막 값 제거
x

['b', 'c', 'd']

In [47]:
del x[:2]  # 첫 두개의 값 제거
x

['d']

`.index()` 메소드는 값의 위치를 찾는다.

In [48]:
x = ['a', 'b', 'c', 'd', 'e']

In [49]:
x.index('c')  # c의 위치

2

'c' 를 'k' 로 바꾸고 싶다면, 인덱싱을 사용한다.

In [50]:
x[2] = 'k'  # 세 번째 값을 'k'로 지정
x

['a', 'b', 'k', 'd', 'e']

두 리스트를 더하기로 합칠 수 있다.

In [51]:
[1, 2, 3] + [4, 5, 6] # 값을 붙인다.

[1, 2, 3, 4, 5, 6]

리스트의 내용을 곱하기로 반복할 수 있다.

In [52]:
x = [1, 2, 3]
x * 2  # 두 번 반복

[1, 2, 3, 1, 2, 3]

두 리스트 비교하기

In [53]:
[3,4,3] == [3,4,3]

True

In [54]:
[3,4,3] > [3,4,5]

False

In [55]:
[3,4,3] < [3,4,5]

True

`in`과 `not in` 연산자를 사용하여 리스트 안에 특정 값이 있는지 확인

In [56]:
3 in x # 불리언 값으로 불러온다. x라는 리스트에 3이 있는지 판별

True

In [57]:
3 not in [3,4,3]

False

In [ ]:
'''
***********
[중간 점검]
리스트의 중간에 요소를 추가하는 메소드는? insert
값으로 리스트의 요소를 제거하는 메소드는? remove (값으로 리스트의 요소를 제거. 순서가 아니다.)
리스트를 완전히 비우는 메소드는? clear
'''

In [58]:
# 매우 유용한 팁 (사전같은 기능)
dir(x)
# x.--- 로 쓸 수 있는 메소드. x. 누른 이후 Tab키를 이용해서도 사용할 수 있다.(단점 : Tab키를 눌러도 안 나오는 경우가 있다.)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# 튜플(tuple)

- 튜플(tuple)은 리스트와 동일하게 값을 순서대로 저장하는 자료 구조다. 
- 단, 리스트와 달리 튜플은 **수정이나 변경을 할 수 없다.!!!** (=> 좀 더 안심하고 쓸 수 있고 추가/삭제/수정 등에 대비할 필요가 없기 때문에 리스트보다 효율적인 내부 구조를 가진다)

### 생성하기

튜플은 값들을 둥근 괄호로 감싼다.

In [66]:
(1, 2, 3) # 튜플은 소괄호로 사용한다.

(1, 2, 3)

`tuple()` 함수에 다른 값을 넣으면 튜플로 변환한다.

In [67]:
tuple([1, 2, 3])

(1, 2, 3)

튜플 할당

In [68]:
'''
x = 2
y = 3 이렇게 보다 밑에 방식으로 사용한다.
'''
x, y = 2, 3 # 파이썬에서 튜플을 많이 사용하는 방법

- 두 변수의 값을 교환하는 건 종종 유용하다. 일반적인 할당문으로는 임시 변수를 사용해야 한다.   
- 예를 들어 x와 y를 교환하려면 다음과 같은 코드를 사용한다.

In [70]:
x,y = 1,2
temp = x
x = y
y = temp
x,y

(2, 1)

- 이런 방법은 번거롭다. 아래와 같은 표현이 좀 더 우아하다. 튜플 할당이라고 한다.

In [71]:
x, y = y, x

- 다만, 왼쪽에 있는 변수의 개수와 오른쪽에 있는 값의 개수는 같아야 한다!!!

In [72]:
x, y = 1, 2, 3 # 값의 개수가 달라서 error

ValueError: too many values to unpack (expected 2)

### 인덱싱과 슬라이싱

튜플의 인덱싱과 슬라이싱은 리스트와 같다.

In [73]:
x = (1, 2, 3) 
x[0]  # 첫번째 값 선택

1

In [74]:
x[0:2]  # 첫 두 값 선택

(1, 2)

### 합치기 & 반복하기

In [75]:
y = (4, 5, 6)

In [76]:
x + y  # 두 튜플 합치기

(1, 2, 3, 4, 5, 6)

In [77]:
x * 3  # 세번 반복하기

(1, 2, 3, 1, 2, 3, 1, 2, 3)

### 수정하기

튜플의 값을 수정하려 시도하면, TypeError 가 발생한다.

In [78]:
x[0] = 'a'  # 첫 값을 'a'로 수정 # 읽기만 가능, 쓰기 불가

TypeError: 'tuple' object does not support item assignment

튜플의 값을 변경하고 싶다면, 튜플을 리스트로 바꾼 후, 다시 튜플로 만든다.

In [79]:
# 1단계: 튜플을 리스트로 변환

x = list(x) 
x

[1, 2, 3]

In [80]:
# 2단계: 원하는 값 수정 

x[0] = 'a' 
x

['a', 2, 3]

In [81]:
# 3단계: 리스트를 다시 튜플로 변환

x = tuple(x)  
x

('a', 2, 3)

In [83]:
dir(x) # 튜플이라서 append, pop 같은 기능이 없다. 프로그램 내내 바꿀 일이 없을 경우 튜플을 사용한다.

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

# 사전(dictionary)

- 사전(dictionary)은 키(key)와 그에 대응하는 값(value)을 짝지워놓은 자료 구조다. 
- 사전이 단어(key)에 해당하는 뜻(value)을 찾기 위한 책인 것을 생각해보면 이런 이름이 붙은 이유를 짐작할 수 있을 것이다.

In [107]:
[('a',10),('b',20)]

[('a', 10), ('b', 20)]

<img src='http://drive.google.com/uc?export=view&id=1s24Bwt82s6GSh7Iu5WHxozjMRwRrZtZp' align="left" width=600 height=400/>

### 생성하기

사전은 키와 값을 콜론(:)으로 짝짓고, 이들을 중괄호({})로 감싸서 표시한다.

In [1]:
fruit = {'사과': 10, '딸기': 20}
fruit

{'사과': 10, '딸기': 20}

### 인덱싱

사전을 키로 인덱싱하면, 그에 대응하는 값을 돌려받을 수 있다.

In [3]:
fruit['사과']

10

또한 기존의 값을 덮어 쓸 수도 있다.

In [110]:
fruit['사과'] = 100
fruit

{'사과': 100, '딸기': 20}

### 원소 추가하기

기존에 없는 키로 인덱싱하고 값을 할당하면 새로운 원소가 추가된다. 가장 헷갈리는 부분

In [111]:
fruit['수박'] = 30
fruit

{'사과': 100, '딸기': 20, '수박': 30}

### 키 사용시 유의점

사전에서는 키가 중복될 경우 먼저 나온 키는 무시한다.

In [112]:
repeated_dict = {'a': 1, 'a': 5, 'b': 10}  # key에 'a'가 두개 repeated_dict['a']
repeated_dict

{'a': 5, 'b': 10}

In [114]:
k = {1: [1,2,3], 2: 'abc'}

In [115]:
k[1] # dictionary의 key는 문자, 숫자에 관계없다.

[1, 2, 3]

사전의 키에는 숫자, 문자, 튜플 등 불변(immutable)인 값만 넣을 수 있다. 리스트처럼 가변 (mutable)적인 값은 키로 사용할 수 없다.

In [4]:
rank_score = {1: 100, 2: 100, 3: 100, 4: 90, 5: 90}  # 숫자 key
rank_score[1], rank_score[5]
len(rank_score)

5

In [118]:
rank_score = {[1,2,3]: 100, [4,5]: 90}   # 튜플 key도 가능하다 튜플은 ()
rank_score[[1,2,3]], rank_score[[4,5]]   # error가 나는 이유 : list는 값을 변경할 수 있어서 key값이 변경 될 수 있기 때문에 error가 발생!!!

TypeError: unhashable type: 'list'

In [119]:
rank_score = {[1,2,3]: 100, [4,5]: 90}   # 리스트 key

TypeError: unhashable type: 'list'

### 관련 메소드

사전의 키를 모두 확인하고 싶다면, `.keys()` 메소드를 부른다.

In [120]:
fruit.keys() # 모든 key를 호출

dict_keys(['사과', '딸기', '수박'])

사전의 값을 모두 확인하고 싶다면, `.values()` 메소드를 부른다.

In [121]:
fruit.values() # 모든 값만 호출

dict_values([100, 20, 30])

사전의 키와 값을 짝지어 보고 싶다면, `.items()` 메소드를 부른다.

In [122]:
fruit.items() # 둘다 호출

dict_items([('사과', 100), ('딸기', 20), ('수박', 30)])

사전에 존재하지 않는 키를 찾으면, KeyError 가 발생하는데,

In [123]:
fruit['포도']  # 없는 key

KeyError: '포도'

`.get()` 메소드는 이를 방지할 수 있게 해준다. 즉, KeyError를 일으키는 대신 아무 것도 반환하지 않거나(무시) 설정된 기본값을 반환한다.

In [124]:
fruit.get('사과')  # 있는 key

100

In [125]:
fruit.get('포도')  # 없는 key

In [127]:
fruit.get('포도', 0)  # 없는 key

0

- 파이썬은 예전부터 텍스트 분석에 최적화!

`in` 연산자로 *키가 사전에 있는지 확인할 수 있다.

In [128]:
'사과' in fruit

True

In [129]:
'사과' not in fruit

False

`del` 명령어를 사용해 값을 삭제할 수 있다.

In [130]:
del fruit['사과']  # '사과' 삭제
fruit

{'딸기': 20, '수박': 30}

사전을 전부 비우고 싶다면, `.clear()` 메소드를 사용한다.

In [131]:
fruit.clear()
fruit

x = 5
dir(fruit) # 마찬가지로 . 이후 Tab키 쓸 수 있다.

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

# 집합(set)

- 집합(set)은 수학의 집합과 같은 용도로 사용된다. 
- 집합은 반복되는 값을 허용하지 않으며, 순서 또한 보존하지 않는다.(인덱싱이 되지 않는다.)

### 생성하기

집합은 중괄호({})로 값을 감싸 만든다. 사전과 비슷하지만 키와 값의 짝이 없다는 점이 다르다.

In [91]:
x = {'사과', '포도', '바나나'} 
x

{'바나나', '사과', '포도'}

`set()` 함수에 다른 값을 넣으면 집합으로 변환된다. 만약 겹치는 항목이 집합에 들어있다면, 반복되는 항목은 제거된다.

In [92]:
set(['사과', '사과', '포도', '바나나', '바나나', '사과'])

{'바나나', '사과', '포도'}

사전을 `set()` 에 넘기면 키의 집합으로 변환된다.

In [93]:
set(fruit)

NameError: name 'fruit' is not defined

### 집합의 크기

집합에서도 `len()` 함수를 사용하여 원소의 갯수를 확인할 수 있다.

In [94]:
len(x)

3

### 원소 추가와 삭제

집합에 원소를 추가하고 싶다면 `.add()` 메소드를 사용한다.

In [95]:
x.add('오렌지')  # 집합에 '오렌지' 추가 set에서는 append함수를 사용할 수 없다. 출력값은 가나다순으로 출력!
x

{'바나나', '사과', '오렌지', '포도'}

하나 이상의 원소는 `.update()` 메소드를 사용한다.

In [96]:
x.update(['수박', '딸기'])  # 집합에 '수박', '딸기' 추가 하나 이상의 원소 추가
x

{'딸기', '바나나', '사과', '수박', '오렌지', '포도'}

원소를 제거하고 싶을때는 `.remove()` 메소드를 사용한다.

In [97]:
x.remove('오렌지')
x

{'딸기', '바나나', '사과', '수박', '포도'}

`in` 연산자로 특정 값이 집합에 있는지 확인할 수 있다.

In [99]:
'바나나' in x
'바나나' not in x

False

### 집합 연산

In [100]:
a = {1, 2, 3} 
b = {3, 4, 5}

두 집합 사이의 합집합은 `|`으로 구한다.

In [101]:
a | b # 두개의 합 공통된 부분 제외

{1, 2, 3, 4, 5}

두 집합 사이의 교집합은 `&`으로 구한다.

In [102]:
a & b

{3}

두 집합 사이의 차집합은 `-`으로 구한다.

In [103]:
a - b # 공통된 부분만 제외(집합이기 때문에)

{1, 2}

In [104]:
[1,2,3,'a','b', True, "and", [1,2,3], (2,3)]

[1, 2, 3, 'a', 'b', True, 'and', [1, 2, 3], (2, 3)]

# 연습문제

### 문제 5)
아래와 같이 데이터가 저장되는 2차원 리스트를 만드시오.<p>
<img align="left" src="http://www.cs.ubc.ca/~pcarter/cs189/image/2darrayrc.png" alt="2D List in Python">

In [11]:
x = [[1,2,3],[4,5,6]]
len(x)
x[0]
x[0][2]

# 교수님 풀이 과정 : x = [[1,2,3],[4,5,6]]

3

### 문제 6)
오직 하나의 값 1을 갖는 튜플 타입의 변수 t를 만드시오.

In [12]:
# 참고
t = [1]
type(t)

list

In [13]:
t = (1) # int 1
t = (1,) # 튜플을 만드는 표현!!!!!! 오직 하나의 값을 튜플 타입으로 표현할 때는 뒤에 ,를 붙여야 한다.
type(t)

tuple

### 문제 7)
각반 학생들의 성적이 담겨있는 다음 표를 사전으로 만드시오.

| key      | value |
| ----------- | ----------- |
| 1반      | 10,20,20,30,40  |
| 2반   | 20,20,40,30,10       |

In [3]:
score = {'1반':(10,20,20,30,40) , '2반':(20,20,40,30,10) }
score

{'1반': (10, 20, 20, 30, 40), '2반': (20, 20, 40, 30, 10)}

### 문제 8)
값이 하나도 없는 비어있는 set을 만들기 위해 다음과 같이 시도해 보자.
```python
>>> a = {}
>>> type(a)
<class 'dict'>
```
위와 같이 값이 없을 경우에는 딕셔너리로 인식하게 된다. 그렇다면 값이 비어있는 집합 자료형은 어떻게 만들 수 있을까?

In [10]:
a = {}
a = set(a)
type(a)

# 교수님 풀이 과정 :
'''
a = set()
type(a)
'''

set

### 문제 9)
중복을 허용하지 않는 집합 자료형의 특징을 이용하여 리스트 lst에서 중복된 숫자들을 제거하시오. 즉, 중복된 값이 없는 리스트를 만들어야 한다.

In [14]:
x = [1,2,2,3,3,3,4,4,4,4]
set(x)

{1, 2, 3, 4}

NameError: name 'split' is not defined

<font color = "#CC3D3D"><b>
# End